<!DOCTYPE html>
<html>
   <head>
      <title>Admin | Registrations</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="../assets/styles/adminDashboard.css">
    </head>
    <body>
        <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet"> -->
        <div class="menu"> <span></span> </div>
        <nav id="nav">
            <ul class="main">
                <p style="font-size: 2em; color: #fff;">Admin</p>
                <li><a href="#" style="color: #b7ac7f;">Registrations</a></li>
                <li><a href="/adminItems">Items</a></li>
                <li><a href="/adminSeller">Sellers</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </nav>
        <div class="overlay"></div>
        <script>
            $('.menu, .overlay').click(function () {
         	    $('.menu').toggleClass('clicked');
         	    $('#nav').toggleClass('show');
            });
        </script>


<div class="container" style="margin-top: 5%; width: 70%;">
        <h3 class="text-left font-weight-normal">Pending requests</h3>
        <div class="row" style="margin-top: 2%;">
            <table class="table table-condensed table-borderless">
                <thead class="thead-dark">
                    <th class="font-weight-bold" style="width: 15%;">#</th>
                    <th class="font-weight-bold" style="width: 20%;">Name</th>
                    <th class="font-weight-bold" style="width: 20%;">Email</th>
                    <th></th>
                    <th></th>
                </thead>
                    <% var seller = data, counter = 1; %>
                    <% seller.forEach(function(detail){%>
                        <tr>
                            <td><%= counter %></td>
                            <td><%= detail.Name %></td>
                            <td><%= detail.EmailAdd %></td>
                            <td><button class="btn btn-success btn-sm" style="margin-left: 107%; width: 35%;" id=<%= `${detail._id}`%>>Approve</button></td>
                            <td><button class="btn btn-danger btn-sm" style="margin-left: 48%; width: 50%;" id=<%= `${detail._id}`%>>Deny</button></td>
                        </tr>
                        <% counter++ %>
                    <%});%>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $butApproved = $('.btn-success');
            $butApproved.click(function(){
               var updated ={
                   id:this.id,
                   status:'Approved'
               }
               $.ajax({
                   method:'POST',
                   url:'/update',
                   data:updated,
                   success:function(){
                       console.log('success');
                       
                   }
               })
               location.reload();
            });
            $butDeny = $('.btn-danger');
            $butDeny.click(function(){
               alert(this.id);
            });
        })
    </script>
   </body>
</html>